{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-neverthrow",
    "jest"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "*.test.ts"
      ],
      "env": {
        "jest": true
      },
      "plugins": [
        "jest"
      ],
      "extends": [
        "plugin:jest/recommended"
      ]
    }
  ],
  "rules": {
    "no-new": "off",
    "no-restricted-syntax": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "type"
    ]
  },
  "ignorePatterns": [
    "node_modules/",
    "**/node_modules/",
    "**/dist/",
    "**/cdk.out/",
    "**/coverage/"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": ["tsconfig.json"]
  }
}
